<h2 class="page-header">Resetovanje lozinke</h2>
<form *ngIf ="!izvrseno" (submit) = "changePassword()">
        <div class="form-group">
          <label>Stara lozinka</label>
          <input type="password" [(ngModel)]="oldPass" name="oldPass" class="form-control">
        </div>
        <div class="form-group">
            <label>Nova lozinka</label>
            <input type="password" [(ngModel)]="newPass1" name="newPass1" class="form-control">
        </div>
        <div class="form-group">
            <label>Ponovite novu lozinku</label>
            <input type="password" [(ngModel)]="newPass2" name="newPass2" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
</form>

<div *ngIf ="izvrseno">
        <a class="btn btn-primary" [routerLink]="['../home']">Nazad na pocetnu</a>
        <a class="btn btn-secondary" [routerLink]="['../guestpage']">Nastavi kao gost</a>
</div>